language: python
python:
  - "3.8"
  - "3.9"
  - "3.10"
  - "3.11"
install:
  - pip install -r requirements.txt
  - pip install -r requirements-dev.txt
before_script:
  - curl -L https://codeclimate.com/downloads/test-reporter/test-reporter-latest-linux-amd64 > ./cc-test-reporter
  - chmod +x ./cc-test-reporter
  - ./cc-test-reporter before-build
script:
  - make check
after_script:
  - ./cc-test-reporter after-build --exit-code $TRAVIS_TEST_RESULT
