-c requirements.txt

djangorestframework==3.12.2
djangorestframework-gis==0.17
django-filter==2.4.0

# flake8 stuff
flake8==3.9.2
flake8-adjustable-complexity==0.0.5
flake8-bugbear==21.9.1
flake8-builtins==1.5.3
flake8-commas==2.0.0
flake8-comprehensions==3.6.1
flake8-debugger==4.0.0
flake8-docstrings==1.6.0
flake8-functions==0.0.6
flake8-polyfill==1.0.2
flake8-pytest-style==1.5.0
flake8-print==4.0.0
flake8-quotes==3.3.0
flake8-string-format==0.3.0
flake8-todo==0.7
flake8-annotations-complexity==0.0.6
flake8-variables-names==0.0.4
flake8-class-attributes-order==0.1.2
flake8-broken-line==0.3.0
flake8-cognitive-complexity==0.1.0
flake8-fine-pytest==1.0.2

# mypy stuff
mypy==0.910

# pytest stuff
pytest==6.2.5
pytest-django==4.4.0
pytest-factoryboy==2.1.0
pytest-cov==2.12.1
pytest-env==0.6.2
pytest-mock==3.6.1
pytest-randomly==3.10.1
pytest-socket==0.4.1
freezegun==1.1.0
factory-boy==3.2.0
typed-ast==1.4.3

pre-commit==2.15.0
black==21.9b0
isort==5.9.3
