-c requirements.txt

djangorestframework>=3.12
djangorestframework-gis==1.0
django-filter==22.1
pydantic==1.10.2

# flake8 stuff
flake8==5.0.4
flake8-adjustable-complexity==0.0.6
flake8-bugbear==22.9.11
flake8-builtins==1.5.3
flake8-commas==2.1.0
flake8-comprehensions==3.10.0
flake8-debugger==4.1.2
flake8-docstrings==1.6.0
flake8-functions==0.0.7
flake8-polyfill==1.0.2
flake8-pytest-style==1.6.0
flake8-print==5.0.0
flake8-quotes==3.3.1
flake8-string-format==0.3.0
flake8-todo==0.7
flake8-annotations-complexity==0.0.7
flake8-variables-names==0.0.5
flake8-class-attributes-order==0.1.3
flake8-broken-line==0.5.0
flake8-cognitive-complexity==0.1.0
flake8-fine-pytest==1.0.3

# mypy stuff
mypy==0.971

# pytest stuff
pytest==7.1.3
pytest-django==4.5.2
pytest-factoryboy==2.5.0
pytest-cov==3.0.0
pytest-env==0.6.2
pytest-mock==3.8.2
pytest-randomly==3.12.0
pytest-socket==0.5.1
freezegun==1.2.2
factory-boy==3.2.1
typed-ast==1.5.4

pre-commit==2.20.0
black==22.8.0
isort==5.10.1
