name: Lint and test code

on:
  push:
    branches: [master]

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ['3.8', '3.9', '3.10', '3.11']
        django-version: ['3.1', '3.2', '4.0', '4.1']
        drf-version: ['3.12', '3.13', '3.14']
    steps:
      - uses: actions/checkout@v4
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python-version }}
      - uses: actions/cache@v4
        with:
          path: ${{ env.pythonLocation }}
          key: python-${{ matrix.python-version }}.django-${{ matrix.django-version }}.drf-${{ matrix.drf-version }}.hashes-${{ hashFiles('requirements.txt') }}.${{ hashFiles('requirements-deps.in') }}.${{ hashFiles('requirements-dev.txt') }}
      - name: Install dependencies
        run: |
          pip install -r requirements.txt
          pip install django==${{ matrix.django-version }}.* djangorestframework==${{ matrix.drf-version }}.*
          pip install -r requirements-deps.in
          pip install -r requirements-dev.txt
          sudo apt-get install -y --no-install-recommends gdal-bin
      - name: Run checks
        run: make style types
      - name: Run tests and publish coverage
        uses: paambaati/codeclimate-action@v5.0.0
        env:
          CC_TEST_REPORTER_ID: ${{ secrets.CC_TEST_REPORTER_ID }}
        with:
          coverageCommand: make coverage
